@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Set ALL HTML elements with border-box sizing */
* {
  box-sizing: border-box;
}

/* CSS HEX
 --light-goldenrod-yellow: #faf8d4ff;
 --almond: #ebdccbff;
 --pale-silver: #c3baaaff;
 --taupe-gray: #91818aff;
 --heliotrope-gray: #b2a3b5ff;
*/

/* General Styles */

body {
  background-color: #f4f2f8;
}

main {
  font-family: 'Montserrat', cursive;
  padding: 20px 0;
}

.headline,
footer {
  background-color: #b2a3b5ff;
  font-family: 'Montserrat Alternates', serif;
}

footer {
  height: 70px;
}

h1 {
  font-size: 60px;
  font-weight: 400px;
  margin-left: 20px;
  color: #91818aff;
}

img {
  border: 1px;
  width: 100%;
}

#about-me {
  background-color: #b2a3b5ff;
}

/*outset frame for image*/
.outset {
  border: 10px outset #ebdccbff;
  background-color: #b2a3b5ff;
  padding: 10px;
}

/*Groups & Items (Mobile First) */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 30px;
}

/*Groups & Items (Desktop) */

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header nav {
    margin-top: 14px;
  }
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}

/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
}
a:link {
  color: #91818aff;
}

a:hover {
  color: #ebdccbff;
}
a:active {
  color: #aa9e88ff;
}

#copyright {
  text-align: center;
  color: #91818aff;
}

/* Contact Form Design */

form label {
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}
